{% extends 'base.twig' %}

{% block body %}
    <h1>Ajout d'un projet</h1>

    {{ form_row('Nom', 'text', 'name', 'Entrer un nom') |raw('html') }}
    {{ form_row('Description', 'textarea', 'description', 'Entrer une description') |raw('html') }}
{% endblock %}